<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="css/main.css"/>
<title>{% block title %}{% endblock %}</title>
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.3/prototype.js'></script>
{% block extraheaders %}{% endblock %}
</head>
<body>
<div id="centercontainer">
<div id="header">
  <div id="title_container">
    <div>Welcome to</div>
    <div id="title">Blackstone Family Dental</div>
    <div id="location">160 Worcester Providence Turnpike, Sutton MA</div>
    <div class="phone">508-865-2334</div>
    <div class="phone"><a href="mailto:appointments@blackstonefamilydental.com">appointments@blackstonefamilydental.com</a></div>
  </div>
  <div style="float:left;padding-left:150px;padding-top:20px">
    <img src="images/weathervane_small.png"/>
  </div>
</div>

<div id="navbar">
<ul>
<li><a href="/">home</a></li>
<li><a href="/directions">Location</a></li>
<li><a href="/theoffice">The Office</a></li>
<li><a href="/aboutus">Meet the staff</a></li>

<!--
<li><a href="/services">Services</a></li>
<li><a href="/contactus">Contact us</a></li>
-->
</ul>
</div>
<div id="contentcontainer">
{% block content %}{% endblock %}
</div>


</div> <!-- center container -->
</body>