{%extends "service_base.html" %}
{% block leftblock %}
{% endblock %}
{% block rightblock %}
<h3>Deep Cleaning</h3>
<p>
Prophylaxis is a regular cleaning. Scaling and root planning (SCRP) is a more involved cleaning. Individuals diagnosed with Active periodontal disease need SCRP. Periodontal disease is when bacteria in the mouth cause bone loss. Sometimes there is gum loss along with the bone loss. Other times there is bone loss, but the gum stays high on the tooth.  The long distance between the bone and gum causes a pocket.  A tooth brush can’t fit into a pocket. Now more and more bacteria grow causing more bone loss.  
</p>
{% endblock %}
