{%extends "service_base.html" %}
{%block leftblock %}
<h2>Example denture</h2>
<img src="/images/dental/complete_denture.jpg" alt="a model of a a complete denture" />
{% endblock %}
{% block rightblock %}
<h3>Complete denture</h3>
<p>
A complete denture replaces all of your teeth. An upper complete denture covers the roof of the mouth and usually has very good retention. A lower complete denture also replaces all of the missing lower teeth. A lower denture never gets as good retention as an upper denture. The lower denture is in the shape of a horse shoe.
</p>
{% endblock %}
