{%extends "service_base.html" %}
{% block leftblock %}
<h2>Crowns</h2>
<img src="/images/dental/crown.jpg" alt="Diagram of a crown" />
{% endblock %}
{% block rightblock %}
<p>
A crown is a a replacement for the outside of the tooth that completely caps or encircles the existing tooth.  A high quality crown should look like your other teeth in terms of shape, color, and texture.</p>
<p>A crown is made of metal, porcelain, or a mixture of both materials.  The process is started by shaving the tooth into a special shape. An Impression of the tooth is then taken and sent to a lab.  The lab uses the impression to custom make the crown.  While crown is being made you wear a provisional crown.</p>
<p>
Why do I need a crown?  Some common reasons that a tooth needs a crown are large fillings. When a filling gets too large the remaining structure of the tooth is at risk for breaking.  A back tooth with a root canal needs a crown.  Cracked tooth syndrome is another reason a tooth might need a crown.
</p>
{% endblock %}
