{%extends "service_base.html" %}
{% block leftblock %}
		<h2>Amalgam filling</h2>
    <img src="/images/dental/amalgam.jpg" alt="Example of an amalgam filling"/>
    <h2>Composite filling</h2>
		<img src="/images/dental/composite.jpg" alt="Example of a composite filling" />
{% endblock %}
{% block rightblock %}
<h3>Fillings</h3>
<p>The traditional filling material is a silver amalgam.  Amalgam fillings have been around for many years and are very durable.  White fillings (composite) are a composite of resin filled with glass particles. Both materials are very strong and acceptable materials for a filling. The main differences between the two types of fillings are that the composite filling matches the tooth color and costs a little more. The cost is attributed to the greater cost of the material and the time it takes to place a composite versus an Amalgam filling.</p>
{% endblock %}
