{%extends "service_base.html" %}
{%block leftblock %}
<div style="margin-top:40px">
<h2>Patient with implants for a denture</h2>
<img src="/images/dental/implant_over_denture.jpg" alt="picture of implants for an implant over denture" />
</div>
{% endblock %}
{% block rightblock %}
<h3>Implant over Denture</h3>
<p>
A complete denture can be improved by adding implants.  A minimum of two implants are required although more implants will increase the stability of the denture.  An implant over denture offers the following benefits:
<ul>
<li>The denture is much more secure in your mouth because it is anchored to the implants.</li>
<li>the denture is smaller</l>
<li>Many denture patients suffer from bone loss (resorption) because the body detects that teeth were extracted and the bone is no longer necessary.  Bone loss can lead to facial collapse which reduces the function of the denture.  Implants stimulate the bone and deter bone loss.</li>
</ul>
</p>
{% endblock %}
