{%extends "service_base.html" %}
{%block leftblock %}
		<h2>Model of an implant</h2>
		<img src="/images/dental/implant.jpg" alt="implant model" />
{% endblock %}
{% block rightblock %}
<h3>Implants</h3>
<p>
An implant is used to replace a tooth or multiple teeth by "implanting" a new tooth into the bone.  While implants are relatively new, they are regarded as one of the best and strongest ways to build new teeth.  An implant has three parts:
<ul>
<li>The fixture: the base of the implant which is surgically placed in the bone.</li>
<li>The abutment: a post that screws into the fixture.</li>
<li>A crown which is installed over the abutment and looks like the natural tooth.</li>
</ul>
</p>
{% endblock %}
