{% extends "base.html" %}
{% block title %}Welcome to Blackstone Family Dental{% endblock %}
{% block content %}
<div id="content" class="home">
  <div class="image-right"></div>
  <h2>Dear Sutton Community,</h2>
  <p>My name is Dr. Tiffany Glasier and I am delighted to be serving Sutton and the Blackstone Valley community. Blackstone Family Dental delivers the highest quality dentistry in a caring manner. The practice offers the following services:</p>
<ul class="fancy-list">
	<li>Preventive care such as cleanings, exams, digital x-rays, and fluoride treatments</li>
	<li>Cosmetic dentistry including whitening and Veneers</li>
	<li>Restorative care including crowns, bridges, dentures, and implants</li>
	<li>As a trained Prothodontist, I have extensive experience with full mouth reconstruction, implant based dentures, and complete oral rehabilitation.</li>
</ul>
<p>I feel very honored to have such a warm community to serve. I will be posting updates and patient information over the next couple of weeks so please check back with us. In the meantime, if you have any questions you can email me at <a href="mailto:drglaiser@blackstonefamilydental.com">drglasier@blackstonefamilydental.com</a>. Thanks! </p>
<h3>Dr. Tiffany Glasier DMD</h3>
</div> <!-- content --> 
{% endblock %}
