{% extends "base.html" %}
{% block title %}Welcome to Blackstone Family Dental{% endblock %}
{% block extraheaders %}
<link rel="stylesheet" type="text/css" href="css/lightview.css" />
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.2/scriptaculous.js'></script>
<script type='text/javascript' src='js/lightview.js'></script>

<script type="text/javascript">
  Event.observe(window,'load',function() {
  var bfd_home = new google.maps.LatLng(42.160345, -71.737960);
  var options = {
  center: bfd_home,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
  zoom: 16,
  disableDefaultUI:true
  };
  var map = new google.maps.Map(document.getElementById("map_canvas"),options);
  var marker = new google.maps.Marker({position:bfd_home,
  map:map,
  title: 'Blackstone Family Dental'
  });
  });
  document.observe('lightview:loaded', function() {
    function st() {Lightview.startSlideshow() };
    $A($('thumbs').getElementsByTagName('img')).each(function(x,i) { 
  x.observe('click',function() { 
     st.delay(5); 
   });
  });
 });
</script>

{% endblock %}

{% block content %}
<div id="content">
  <div class="map_container">
    <h2>Office location</h2>
    <a href="http://maps.google.com/?daddr=160%20Worcester%20Providence%20Turnpike%20Sutton%20MA" target="blank">directions</a>
    <div id="map_canvas"></div>
  </div>
  <div id="pictures">
    <h2>Office pictures - click a picture for a slideshow</h2>
    <div id="thumbs">
      <a id="image1" href='/images/office/bsd_front.jpg' class='lightview' rel='gallery[office]'
         title="Blackstone Family Dental :: The office is located in Sutton Square plaza near the post office, right off of route 146 :: slideshow:true">
        <img class="thumb" src="/images/office/thumbs/bsd_front_thumb.jpg"/>      
      </a>
      <a href='/images/office/bsd_waiting1.jpg' class='lightview' rel='gallery[office]'
         title="The waiting room">
        <img class="thumb" src="/images/office/thumbs/bsd_waiting1_thumb.jpg"/>
      </a>
      <a href='/images/office/bsd_waiting2.jpg' class='lightview' rel='gallery[office]'
         title="Another view of the waiting room">
        <img src="/images/office/thumbs/bsd_waiting2_thumb.jpg"/>
      </a>
      <a href='/images/office/bsd_chair.jpg' class='lightview' rel='gallery[office]'
         title="Dental operatory :: Our brand new office is equiped with the latest technology">
        <img src="/images/office/thumbs/bsd_chair_thumb.jpg"/>
      </a>
      <a href='/images/office/bsd_autoclave.jpg' class='lightview' rel='gallery[office]'
         title="Instrument sterilization">
        <img src="/images/office/thumbs/bsd_autoclave_thumb.jpg"/>
      </a>
    </div>
    <div id="features">
      <h2>Office features:</h2>
      <ul>
        <li>Latest digital X-ray technology</li>
        <li>flat panel TVs for your enjoyment</li>
        <li>family friendly</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
