{%extends "service_base.html" %}
{% block leftblock %}
<h2>Nightguard</h2>
<img src="/images/dental/nightguard.jpg" alt="Picture of a nightguard"/>
{% endblock %}
{% block rightblock %}
<p>
A night guard is used to protect teeth from grinding or clenching. Teeth are usually only together 20 minutes a day. 
Individuals that grind or clench often have their teeth in contact for hours a day.  The teeth of a “grinder” or “clencher” are wearing and enduring forces that are 5 times as greater than normal. This can mean that the teeth will last a fifth the amount of time as regular teeth.
</p>
<p>Often the teeth of a “clencher” or “grinder” are diagnosed with crack tooth syndrome, broken teeth, or severe wear leading to the need for root canals. A night guard comes in two forms. One is a called a Conventional and comes in the shape of a hoarse shoe. The other is an NTI. The way your teeth come together and your specific habit decide which type of Night Guard will work best for you. 
</p>
{% endblock %}
